.Card-Group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Father-Card-Group {
  display: flex;
  flex-direction: column;
  padding: 140px 0;
}

@media (min-width: 769px) {
  .Card-Group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
